<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foire - An Event Organizing Company</title>

    <link rel="stylesheet" href= "https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Favicon-->
    <link rel="icon" href="images\disco-pink.jpg">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo"><img src="images\name.jpg" alt="Smiley face" width="150" height="60" style="float:left"></a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#service">service</a>
        <a href="#about">about</a>
        <a href="#gallery">gallery</a>
        <a href="#price">price</a>
        <a href="#review">review</a>
        <a href="#footer">contact</a>
        <a href="logout"><span>logout</span></a>
    </nav>

    <div id="menu-bars" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>its time to celebrate! the best <span> event organizers </span></h3>
    </div>

    <div class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/slide-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/slide-2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/slide-3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/slide-4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/slide-5.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/slide-6.jpg" alt=""></div>
        </div>
    </div>

</section>

<!-- home section ends -->

<!-- service section starts  -->

<section class="service" id="service">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>venue selection</h3>
            <p>Select venue for your Events. </p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>invitation card</h3>
            <p>Invitation card is the key for a successful events.</p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>entertainment</h3>
            <p>Speically crafted programe for your speical events.</p>
        </div>

        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>food and drinks</h3>
            <p>Speical delicacies for your events.</p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>photos and videos</h3>
            <p>Photos and videos To collect lot of memory for your future self to look into past. </p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>Cakes</h3>
            <p>Speical cakes for the speical ocassion. </p>
        </div>

        <div class="box">
            <i class="fas fa-star"></i>
            <h3>decorations</h3>
            <p>Customized decorations the way you would want it to be</p>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>Emergencies</h3>
            <p>Always Prepared for emergenices. Can Count on us </p>
        </div>

    </div>

</section>

<!-- service section ends -->

<!-- about section starts  -->

<section class="about" id="about">

<h1 class="heading"><span>about</span> us </h1>

<div class="row">

    <div class="image">
        <img src="images/wedding.jpg" alt="">
    </div>

    <div class="content">
        <h3>we will give a very special celebration for you</h3>
        <p>Foire Ltd is an event logistics and marketing company which was formed back in 2013. The company offers A-Z event planning services from a team of experienced and energetic event planners, suppliers, venues and more.</p>
        <p>We draw our inspiration from YOU and your story to create one-of-a-kind weddings and events. We work collaboratively to ensure your event is cohesive and thoughtful and believe that even the smallest details can have a huge impact. We pride ourselves on our comprehensive event management so that you can have a flawless and stress-free planning experience! </p>
        <a href="#footer" class="btn">contact us</a>
    </div>

</div>

</section>

<!-- about section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading">our <span>gallery</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="images/g-1.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-2.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-3.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-4.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3> -->
            <!-- <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-5.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-6.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-7.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-8.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-9.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

        <div class="box">
            <img src="images/g-10.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>
        
        <div class="box">
            <img src="images/g-11.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>
        
        <div class="box">
            <img src="images/g-12.jpg" alt="">
            <!-- <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div> -->
        </div>

    </div>

</section>

<!-- gallery section ends -->

<!-- price section starts  -->

<section class="price" id="price">

    <h1 class="heading"> our <span>price</span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">for birthdays</h3>
            <h3 class="amount">₹20,000</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="booking" class="btn">book now!</a>
        </div>

        <div class="box">
            <h3 class="title">for weddings</h3>
            <h3 class="amount">₹200,000</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="booking" class="btn">book now!</a>
        </div>

        <div class="box">
            <h3 class="title">for concerts</h3>
            <h3 class="amount">₹300k - ₹400k</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="booking" class="btn">book now!</a>
        </div>

        <div class="box">
            <h3 class="title">for others</h3>
            <h3 class="amount">Let's Talk!</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="booking" class="btn">book now!</a>
        </div>

    </div>


</section>

<!-- price section ends -->

<!-- review section starts  -->

<section class="reivew" id="review"> 
    
    <h1 class="heading">client's <span>review</span></h1>

    <div class="review-slider swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/disco-pink.jpg" alt="">
                    <div class="user-info">
                        <h3>Aaryan Pasha</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>I recently worked with Foire Events for my wedding, and I couldn't be happier with the results. The team at Foire Events was incredibly attentive and responsive, and worked hard to bring my vision to life. The day of the wedding was flawless and stress-free, and I received countless compliments from guests. I highly recommend Foire  for anyone looking to plan a memorable event.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/disco-pink.jpg" alt="">
                    <div class="user-info">
                        <h3>Sher Singh</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>I've worked with Foire on multiple occasions, and they never disappoint. The team is highly professional and organized, and always goes above and beyond to deliver exceptional events. They are experts in their field and truly care about their clients' success. I highly recommend Foire for any event planning needs.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/disco-pink.jpg" alt="">
                    <div class="user-info">
                        <h3>Priya Kittur</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Foire planned and executed our company's annual holiday party, and it was a huge success. From venue selection to catering and entertainment, they managed every aspect of the event with ease and efficiency. Our employees had a great time and we received numerous compliments on the event. I highly recommend Foire for any corporate event planning needs.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/disco-pink.jpg" alt="">
                    <div class="user-info">
                        <h3>Kia Kapoor</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Foire helped me plan my daughter's sweet sixteen party, and it was a hit. They were able to create a fun and memorable event that was tailored to my daughter's interests and preferences. The team at Foire was professional, creative, and easy to work with. I highly recommend them for any party planning needs.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/disco-pink.jpg" alt="">
                    <div class="user-info">
                        <h3>Shaunak Joshi</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>I'm happy to say that I planned my own wedding, which will come place in six years, using Foire. It was a moment I'll never forget. I was fortunate enough to get to wed the woman I desired as my wife. Since I bought the Foire time travel option, I have learned everything.</p>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- contact section starts  -->

<!-- <section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="text" placeholder="number">
            <input type="text" placeholder="subject">
        </div>
        <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

</section> -->

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>branches</h3>
            <a href="https://goo.gl/maps/5ECMuXr5TwpuNgCA9"> <i class="fas fa-map-marker-alt"></i> mumbai </a>
            <a href="https://goo.gl/maps/FHUkhzrAv8Z9w18bA"> <i class="fas fa-map-marker-alt"></i> bangalore </a>
            <a href="https://goo.gl/maps/rP5HCdoyXu4Zwzbv8"> <i class="fas fa-map-marker-alt"></i> chennai </a>
            <a href="https://goo.gl/maps/ZqTUaQ713ktR5Qch9"> <i class="fas fa-map-marker-alt"></i> pune </a>
            <a href="https://goo.gl/maps/PpS8j9XBD5yvnKAVA"> <i class="fas fa-map-marker-alt"></i> ahemdabad </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#service"> <i class="fas fa-arrow-right"></i> service </a>
            <a href="#about"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="#gallery"> <i class="fas fa-arrow-right"></i> gallery </a>
            <a href="#price"> <i class="fas fa-arrow-right"></i> price </a>
            <a href="#review"> <i class="fas fa-arrow-right"></i> review </a>
            <a href="#footer"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +91 9869568189 </a>
            <a href="#"> <i class="fas fa-phone"></i> +91 8879661054</a>
            <a href="#"> <i class="fas fa-envelope"></i> Shaunak.joshi@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> diya.karia06@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="https://twitter.com/" target="_blank"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>



</section>

<!-- footer section ends -->

<!-- theme toggler  -->

<div class="theme-toggler">

    <div class="toggle-btn">
        <i class="fas fa-cog"></i>
    </div>

    <h3>choose color</h3>

    <div class="buttons">
        <div class="theme-btn" style="background: #3867d6;"></div>
        <div class="theme-btn" style="background: #f7b731;"></div>
        <div class="theme-btn" style="background: #ff0033;"></div>
        <div class="theme-btn" style="background: #20bf6b;"></div>
        <div class="theme-btn" style="background: #fa8231;"></div>
        <div class="theme-btn" style="background: #FC427B;"></div>
    </div>

</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>